<ion-view title="Welcome!">
  <ion-content>
    <a href = "#/signup" class="button button-positive" style="width: 100%; margin: 20px 0;">
      Sign Up
    </a>

    <a href = "#/signin" class="button button-positive" style="width: 100%; margin: 20px 0;">
      Sign In
    </a>

  </ion-content>
</ion-view>
