<ion-modal-view title="Sign In">
  <ion-content padding="true" class="has-header" ng-controller="LoginCtrl">
    <ng-form name="signinForm" ng-submit="loginEmail()">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Email Address</span>
          <input type="text" placeholder="enter your email address..." ng-model="email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-keyup="$event.keyCode == 13 && loginEmail()" type="password" placeholder="enter your password..." ng-model="pass" required>
        </label>
        <span class="form-error" ng-hide="Login.authMessage==''">
            <small>{{Login.authMessage}}</small>
        </span>
      </ion-list>
      <button type="submit" class="button button-stable button-block" ng-click="loginEmail()">Login</button>
      <a ng-hide="true" target="_top" class="button button-stable button-block" href="https://www.getcleansnap.com/199presale/">Register</a>
      <!--<button class="button button-stable button-block" ng-click="registerEmail()">Register</button>-->
      <button type="button" class="button button-stable button-block" ng-click="forgotPassword()">Forgot Password</button>
    </ng-form>
  </ion-content>
</ion-modal-view>


