<ion-view>
  <ion-nav-title>
    <img src="img/CleanSnapLogo.png">
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="job in jobs" type="item-text-wrap" href="#/tab/jobs/{{job.id}}">-->

      <ion-item class="row header">
        <div class="col col-33">Job Name <br/>Address</div>
        <div class="col col-25"><br/>Contractor</div>
        <div class="col col-25">PM<br/>Site Contact</div>
        <div class="col"><br/>Phone</div>
      </ion-item>
      <div ng-repeat="job in jobs">
        <ion-item class="row item-text-wrap rept-row">
          <div class="col col-33" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a target="_blank" href="{{getDirectionsUrl(job.lat, job.lon)}}">
              {{job.name}}
            </a>
          </div>
          <div class="col col-25" ng-class="{'row-even':$even,'row-odd':$odd}">
            {{job.account}}
          </div>
          <div class="col col-25" ng-class="{'row-even':$even,'row-odd':$odd}">
            {{job.primaryContactName}}
          </div>
          <div class="col phone-char" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a href="tel:{{job.primaryContactPhone}}" ng-hide="!job.primaryContactPhone"
               class="icon dark ion-ios-telephone" ></a>
          </div>
          <div class="col" ng-class="{'row-even':$even,'row-odd':$odd}">
            &nbsp;
          </div>
        </ion-item>
        <ion-item class="row item-text-wrap rept-row">
          <div class="col col-33" ng-class="{'row-even':$even,'row-odd':$odd}">
            {{job.street}}, {{job.city}}, {{job.state}}
          </div>
          <div class="col col-25" ng-class="{'row-even':$even,'row-odd':$odd}">
            &nbsp;
          </div>
          <div class="col col-25" ng-class="{'row-even':$even,'row-odd':$odd}">
            {{job.siteContactName}}
          </div>
          <div class="col" ng-class="{'row-even':$even,'row-odd':$odd}">
            &nbsp;
          </div>
          <div class="col phone-char" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a href="tel:{{job.siteContactPhone}}" ng-hide="!job.siteContactPhone"
               class="icon dark ion-ios-telephone" ></a>
          </div>
        </ion-item>
      </div>

      <!--<ion-option-button class="button-assertive" ng-click="remove(job)">-->
      <!--Delete-->
      <!--</ion-option-button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
