<ion-view>
  <ion-nav-title>
    <img src="img/CleanSnapLogo.png">
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="job in jobs" type="item-text-wrap" href="#/tab/jobs/{{job.id}}">-->

      <ion-item class="row header">
        <div class="col col-33">Job Name <br/>Estimate Amount</div>
        <div class="col col-20">PM<br/>Site Contact</div>
        <div class="col col-20"><br/>Phone</div>
        <div class="col"><br/>Email</div>
      </ion-item>
      <div ng-repeat="job in jobs">
        <ion-item class="row item-text-wrap rept-row">
          <div class="col col-33" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a target="_blank" href="{{getDirectionsUrl(job.lat, job.lon)}}">
              {{job.name}}
            </a>
          </div>
          <div class="col col-20" ng-class="{'row-even':$even,'row-odd':$odd}">
            {{job.primaryContactName}}
          </div>
          <div class="col col-20" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a href="tel:{{job.primaryContactPhone}}">{{job.primaryContactPhone}}</a>
          </div>
          <div class="col hard-break" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a href="mailto:{{job.primaryContactEmail}}">{{job.primaryContactEmail}}</a>
          </div>
        </ion-item>
        <ion-item class="row item-text-wrap rept-row">
          <div class="col col-33" ng-class="{'row-even':$even,'row-odd':$odd}">
            {{job.contractAmount | currency}}
          </div>
          <div class="col col-20" ng-class="{'row-even':$even,'row-odd':$odd}">
            {{job.siteContactName}}
          </div>
          <div class="col col-20" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a href="tel:{{job.siteContactPhone}}">{{job.siteContactPhone}}</a>
          </div>
          <div class="col hard-break" ng-class="{'row-even':$even,'row-odd':$odd}">
            <a href="mailto:{{job.siteContactEmail}}">{{job.siteContactEmail}}</a>
          </div>
        </ion-item>
      </div>

      <!--<ion-option-button class="button-assertive" ng-click="remove(job)">-->
      <!--Delete-->
      <!--</ion-option-button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
