<ion-view>
  <ion-nav-title>
    <img src="img/CleanSnapLogo.png">
  </ion-nav-title>
  <ion-content>
    <!--<ion-list>-->
    <!--<ion-toggle  ng-model="settings.enableFriends">-->
    <!--Enable Friends-->
    <!--</ion-toggle>-->
    <!--</ion-list>-->
    <!--<form name="myForm">-->
    <!--<div>-->
    <!--<ion-radio ng-model="settings.location" ng-value="'mylocation'" ng-change="changeLocation()">My Location-->
    <!--</ion-radio>-->
    <!--<ion-radio ng-model="settings.location" ng-value="'usa'" ng-change="changeLocation()">USA</ion-radio>-->
    <!--<ion-radio ng-model="settings.location" ng-value="'newyork'" ng-change="changeLocation()">New York</ion-radio>-->
    <!--<ion-radio ng-model="settings.location" ng-value="'chicago'" ng-change="changeLocation()">Chicago</ion-radio>-->
    <!--<ion-radio ng-model="settings.location" ng-value="'losangeles'" ng-change="changeLocation()">Los Angeles-->
    <!--</ion-radio>-->
    <!--</div>-->

    <!--<label class="item item-input item-select">-->
    <!--<div class="input-label">-->
    <!--Search Location:-->
    <!--</div>-->
    <!--<select ng-model="settings.location" ng-value="'usa'" ng-change="changeLocation()">-->
    <!--<option selected value="usa">USA</option>-->
    <!--<option value="mylocation">My Location</option>-->
    <!--<option value="newyork">New York</option>-->
    <!--<option value="chicago">Chicago</option>-->
    <!--<option value="losangeles">Los Angeles</option>-->
    <!--</select>-->
    <!--</label>-->

    <!--</form>-->
    <ng-form name="settingsForm">
      <div class="list list-inset">

        <label class="item item-input">
          <span class="input-label">Search Distance: </span>
          <input name="searchRadius"
                 type="number"
                 placeholder="200"
                 value="200"
                 number
                 integer
                 min="10"
                 max="500"
                 ng-model="searchRadius"
                 ng-change="radiusChanged(searchRadius)"/>
        </label>
<span class="form-error"
      ng-show="settingsForm.searchRadius.$error.min ||
settingsForm.searchRadius.$error.max ||
settingsForm.searchRadius.$error.integer ||
settingsForm.searchRadius.$error.number">
<small>Search Distance must be between 10 and 500 miles</small>
</span>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Account:      </span>
          <span>{{settings.loginEmail}}</span>
        </label>
        <button class="button button-stable button-block" ng-click="logout()">Log out</button>
      </div>
      <div class="list list-inset">
        <label class="item item-input padding">
          <span class="input-label">Old Password:</span>
          <input type="password" placeholder="Enter Old Password" ng-model="changePasswordData.oldPassword">
        </label>
        <label class="item item-input padding">
          <span class="input-label">New Password:</span>
          <input id="newPassword" type="password" placeholder="Enter New Password"
                 ng-model="changePasswordData.newPassword">
        </label>
        <label class="item item-input padding">
          <span class="input-label"> </span>
          <input type="password" placeholder="Re-type New Password" ng-model="changePasswordData.confirmPassword">
        </label>
        <span class="form-error" ng-hide="login.authMessage==''">
          <small>{{login.authMessage}}</small>
        </span>
        <button class="button button-stable button-block" ng-click="changePassword()">
          Change Password
        </button>
      </div>
    </ng-form>
  </ion-content>
</ion-view>
