<ion-view>
  <ion-nav-title>
    <img src="img/CleanSnapLogo.png">
  </ion-nav-title>
  <ion-content>
    <!--<spinner name="sweepingSpinner" img-src="img/sweeping.gif" show="loading">-->
      <!--<h3>Loading, please wait...</h3>-->
    <!--</spinner>-->

    <div id="map" data-tap-disabled="true"></div>

    <!--&lt;!&ndash;<ui-gmap-google-map>&ndash;&gt;-->
      <!--<ng-map center="loc">-->
      <!--</ng-map>-->


    <!--</ui-gmap-google-map>-->
    <form name="searchForm" class="searchForm" novalidate
          ng-submit="search()">
      <div class="input-group">
        <input name="place" type="text" class="form-control"
               ng-model="searchPlace" required autofocus />
                <button id="map-button" ng-click="searchClick(searchPlace)"
                        >Search Location</button>
      </div>
    </form>



    <!--<div id="mapButton">-->
      <!--<button class="map-button" ng-click="searchClick()">{{searchButtonText}}</button>-->
    <!--</div>-->
  </ion-content>

</ion-view>
