<ion-view>
  <!--<ion-nav-title>-->
      <!--<button class="button button-balanced button- item-button-left">Add User</button>-->
    <!--<img src="img/CleanSnapLogo.png">-->
  <!--</ion-nav-title>-->

  <ion-nav-title>
    <div class="bar text-left">
      <button class="button button-balanced icon ion-plus" ng-click="addUser()"> Add User</button>
    </div>
    <img src="img/CleanSnapLogo.png">
  </ion-nav-title>

  <ion-content>
    <ion-list>
      <div ng-repeat="profile in profiles">
        <ion-item class="item-stable row">
          <div class="col col-33" ng-class="{'row-even':$even,'row-odd':$odd}">
            <label class="item item-input">
              <a href="mailto:{{profile.email}}" ng-show="profile.$id">{{profile.email}}</a>
              <input id="{{profile.$id?profile.$id:'new'}}-email"
                     type="email"
                     placeholder="email"
                     value="{{profile.email}}"
                     ng-hide="profile.$id"
                     ng-model="profile.email"
                     ng-change="dataChanged(profile.$id)">
              <!--<button class="icon ion-checkmark"></button>-->
            </label>
          </div>
          <div class="col col-33" ng-class="{'row-even':$even,'row-odd':$odd}">
            <label class="item item-input">
              <input type="text" placeholder="User Name" value="{{profile.name}}"
                     ng-model="profile.name" ng-change="dataChanged(profile.$id)">
              <!--<button class="icon ion-checkmark"></button>-->
            </label>
          </div>
          <div class="col col-16" ng-class="{'row-even':$even,'row-odd':$odd}">
            <label class="item item-input">
            <select name="accountLevel" ng-model="profile.accountLevel" ng-change="dataChanged(profile.$id)">
              <option value="0" ng-selected="profile.accountLevel==0">Blind Pig</option>
              <option value="10" ng-selected="profile.accountLevel==10">Driver</option>
              <option value="20" ng-selected="profile.accountLevel==20">Premium</option>
              <option value="100" ng-selected="profile.accountLevel==100">Administrator</option>
            </select>
              </label>
          </div>
          <div class="col col-16" ng-class="{'row-even':$even,'row-odd':$odd}">
            <button class="button-small" ng-click="saveUser(profile)"
                    ng-show="isDirty(profile.$id)">Save User</button>
            <br/>
            <button class="button-small" ng-click="resetPassword(profile.email)">
              {{resetPasswordText(profile.email)}}
            </button>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
