<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Driver Tab -->
  <ion-tab title="Driver" icon-off="ion-ios-list-outline" icon-on="ion-ios-list"
           href="#/tab/driver" class="{{minAccountLevel(10)}}">
    <ion-nav-view name="tab-driver"></ion-nav-view>
  </ion-tab>

  <!-- Premium Tab -->
  <ion-tab title="Premium" icon-off="ion-ios-list-outline" icon-on="ion-ios-list"
           href="#/tab/premium" class="{{minAccountLevel(20)}}">
    <ion-nav-view name="tab-premium"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
           href="#/tab/settings" class="{{minAccountLevel(1)}}">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- User Management Tab -->
  <ion-tab title="User Management" icon-off="ion-ios-people-outline" icon-on="ion-ios-people"
           href="#/tab/profiles" class="{{minAccountLevel(100)}}">
    <ion-nav-view name="tab-profiles"></ion-nav-view>
  </ion-tab>


</ion-tabs>
