/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//Main Styles

//.list{
//  display: none;
//}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.header{
  .col{
    background-color:lightsteelblue;
    font-weight: bolder;
    font-size: 1.8vw;
  }
}

.rept-row {
  border: none;
}
.row-odd {
  background-color: lightgrey;
  font-size: 1.6vw;
}
.row-even {
  background-color:white;
  font-size: 1.6vw;
}
.hard-break {
  word-break: break-all;
}
.phone-char {
  font-size: 1em;
  text-align: center;
}
.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.searchForm{
  position: relative;
  bottom: 90px;
  .input-group{
    text-align: center;
    input.form-control{
      padding: 10px;
      border: 1px solid silver !important;
      margin: 0 auto 10px;
    }
    #map-button{
      padding: 5px 10px;
      color: #000;
      background: white;
      border-radius: 5px;
      border: 1px solid silver;
    }
  }

}

.map-button {
  margin-bottom: 20px;
}

@media only screen and (max-width: 40em){
  .row-odd, .row-even {
    font-size: 2.1vw;
  }
  .header{
    .col{
      font-size: 2.3vw;
    }
  }
}

