.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.header .col{
  background-color:lightsteelblue;
  font-weight: bolder;
  font-size: 1.8vw;
}
.rept-row {
  border: none;
}
.row-odd {
  background-color: lightgrey;
  font-size: 1.6vw;
}
.row-even {
  background-color:white;
  font-size: 1.6vw;
}
.hard-break {
  word-break: break-all;
}
.phone-char {
  font-size: 1em;
  text-align: center;
}
.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.map-button {
  margin-bottom: 20px;
}
